<div class="background">
  <div class="login-container">
    <div class="form-container">
      <h1>Welcome to DataNauts Registration</h1>
      <h5>Registering by email</h5>
      <ngbytes-login-form (formData)="register($event)"></ngbytes-login-form>
    </div>
    <div class="text-container">
      <h1>Greetings to all Hackathon Teams</h1>
      <p>
        If you lready have an account:
        Sign in
      </p>
      <button mat-button routerLink="/">Sign in</button>
    </div>
  </div>
</div>
