<div id="root">
  <nav>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark"><a href="/" class="font-weight-bold navbar-brand">CV
        Generator App</a>
        <button aria-controls="basic-navbar-nav" type="button" aria-label="Toggle navigation"
                class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="basic-navbar-nav">
          <div class="ml-auto navbar-nav">
            <div class="px-lg-3 nav-item"><abbr
              title="fork this project repo on github"><span><span></span></span></abbr></div>
            <div class="px-lg-3 nav-item"><abbr
              title="star this project repo on github"><span><span></span></span></abbr></div>
            <div class="px-lg-3 nav-item"><abbr
              title="download the project from github"><span><span></span></span></abbr></div>
          </div>
        </div>
      </nav>
    </header>
  </nav>
  <div class="mt-5 mb-2 container">
    <form class="form-section"><h1 class="text-dark font-weight-bold py-3">General Detail</h1>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">First Name</label><input
          placeholder="First Name" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Last Name</label><input
          placeholder="Last Name" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Gender</label><select required=""
                                                                                                   class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">other</option>
        </select></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Age</label><input min="1" required=""
                                                                                               type="number"
                                                                                               class="form-control"
                                                                                               value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Profession</label><input
          placeholder="e.g Full stack developer" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Location</label><input
          placeholder="Lahore, Pakistan" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label"> Mobile Phone </label><input
          placeholder="+01 23 456 789" required="" type="number" class="form-control" value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label"> Email </label><input
          placeholder="info@domain.com" required="" type="email" class="form-control" value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label"> House Address </label><input
          placeholder="House#0 St#0 street and city name" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12"><label class="form-label">Describe Yourself</label><textarea rows="6"
                                                                                                       required=""
                                                                                                       class="form-control"></textarea>
        </div>
      </div>
      <h1 class="text-dark font-weight-bold py-4">Social Detail</h1>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Social Website</label><select required=""
                                                                                                           class="form-control">
          <option value="GitHub">GitHub</option>
          <option value="LinkedIn">LinkedIn</option>
          <option value="Personal Website">Portfolio Website</option>
        </select></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Username</label><input
          placeholder="e.g johnDoe123" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Social Website</label><select required=""
                                                                                                           class="form-control">
          <option value="LinkedIn">LinkedIn</option>
          <option value="GitHub">GitHub</option>
          <option value="Portfolio Website">Portfolio Website</option>
        </select></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Username</label><input
          placeholder="e.g johnDoe123" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Social Website</label><select required=""
                                                                                                           class="form-control">
          <option value="Portfolio Website">Portfolio Website</option>
          <option value="GitHub">GitHub</option>
          <option value="LinkedIn">LinkedIn</option>
        </select></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Username</label><input
          placeholder="johnDoe.com" required="" type="text" class="form-control" value=""></div>
      </div>
      <h1 class="text-dark font-weight-bold py-4">Educational Detail (Add 2 educational details)</h1>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> High school degree </label><input
          placeholder="e.g metric with computer sciences" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> School Name </label><input
          placeholder="e.g govt school" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Starting Date</label><input required=""
                                                                                                         type="date"
                                                                                                         class="form-control"
                                                                                                         value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Ending Date</label><input required=""
                                                                                                       type="date"
                                                                                                       class="form-control"
                                                                                                       value=""></div>
        <div class="form-group col-sm-12"><label class="form-label">Describe your experience</label><textarea rows="6"
                                                                                                              required=""
                                                                                                              class="form-control"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> College degree </label><input
          placeholder="e.g Intermediate in computer science" required="" type="text" class="form-control" value="">
        </div>
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> College Name </label><input
          placeholder="e.g MAO College" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Starting Date</label><input required=""
                                                                                                         type="date"
                                                                                                         class="form-control"
                                                                                                         value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Ending Date</label><input required=""
                                                                                                       type="date"
                                                                                                       class="form-control"
                                                                                                       value=""></div>
        <div class="form-group col-sm-12"><label class="form-label">Describe your experience</label><textarea rows="6"
                                                                                                              required=""
                                                                                                              class="form-control"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> University degree </label><input
          placeholder="e.g bachelor in computer science" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> University Name </label><input
          placeholder="e.g university of the punjab" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Starting Date</label><input required=""
                                                                                                         type="date"
                                                                                                         class="form-control"
                                                                                                         value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Ending Date</label><input required=""
                                                                                                       type="date"
                                                                                                       class="form-control"
                                                                                                       value=""></div>
        <div class="form-group col-sm-12"><label class="form-label">Describe your experience</label><textarea rows="6"
                                                                                                              required=""
                                                                                                              class="form-control"></textarea>
        </div>
      </div>
      <h1 class="text-dark font-weight-bold py-5"> Professional Experience Details (Add 3 latest experiences) </h1>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> 1st Experience </label><input
          placeholder="e.g junior web developer" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> Company Name </label><input
          placeholder="company name" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Starting Date</label><input required=""
                                                                                                         type="date"
                                                                                                         class="form-control"
                                                                                                         value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Ending Date</label><input required=""
                                                                                                       type="date"
                                                                                                       class="form-control"
                                                                                                       value=""></div>
        <div class="form-group col-sm-12"><label class="form-label">Describe your experience</label><textarea rows="6"
                                                                                                              required=""
                                                                                                              class="form-control"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> 2nd Experience </label><input
          placeholder="e.g junior web developer" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> Company Name </label><input
          placeholder="company name" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Starting Date</label><input required=""
                                                                                                         type="date"
                                                                                                         class="form-control"
                                                                                                         value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Ending Date</label><input required=""
                                                                                                       type="date"
                                                                                                       class="form-control"
                                                                                                       value=""></div>
        <div class="form-group col-sm-12"><label class="form-label">Describe your experience</label><textarea rows="6"
                                                                                                              required=""
                                                                                                              class="form-control"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> 3rd Experience </label><input
          placeholder="e.g junior web developer" required="" type="text" class="form-control" value=""></div>
        <div class="form-group col-md-6 col-sm-12"><label class="form-label"> Company Name </label><input
          placeholder="company name" required="" type="text" class="form-control" value=""></div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Starting Date</label><input required=""
                                                                                                         type="date"
                                                                                                         class="form-control"
                                                                                                         value=""></div>
        <div class="form-group col-md-4 col-sm-12"><label class="form-label">Ending Date</label><input required=""
                                                                                                       type="date"
                                                                                                       class="form-control"
                                                                                                       value=""></div>
        <div class="form-group col-sm-12"><label class="form-label">Describe your experience</label><textarea rows="6"
                                                                                                              required=""
                                                                                                              class="form-control"></textarea>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12"><label class="form-label">Write Your Skills</label><textarea rows="6"
                                                                                                       placeholder="e.g HTML|CSS|REACTJS|NODEJS|EXPRESSJS"
                                                                                                       required=""
                                                                                                       class="form-control"></textarea>
        </div>
      </div>
      <div type="button" class="py-3 my-3 btn btn-dark col-sm-12">Generate CV</div>
    </form>
  </div>
</div>
